.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
  align-items: baseline;
}

.search-input {
  width: 58%;
  padding: 8px;
  height: 46px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.add-button {
  padding: 8px 16px;
  font-size: 16px;
  width: 20%;
  height: 46px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}

.book-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.book-table th,
.book-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.book-table th {
  background-color: #f2f2f2;
}

.book-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.book-table tr:hover {
  background-color: #f1f1f1;
}

.icon-button {
  background: none;
  border: none;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}

.icon-button:hover {
  color: #007bff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 100px;
  cursor: pointer;
  width: 40px;
}

.pagination span {
  font-weight: bold;
  margin: 0 10px;
}

.logout {
  background: none;
  border: none;
  margin-left: 70%;
  color: #007bff;
  cursor: pointer;
  width: 47px;
  align-content: flex-end;
}

@media (max-width: 868px) {
  .search-input {
    width: 70%;
    height: 40px;
    font-size: 14px;
  }

  .header {
    gap: 10px;
  }

  .add-button {
    width: 30%;
    height: 40px;
    font-size: 14px;
    padding: 6px 12px;
  }

  .book-table th,
  .book-table td {
    padding: 6px;
  }

  .book-table th {
    font-size: 12px;
  }

  .book-table td {
    font-size: 12px;
  }

  .icon-button {
    font-size: 8px;
  }

  .pagination button {
    width: 30px;
    padding: 4px 8px;
    font-size: 14px;
  }

  .pagination span {
    font-size: 14px;
  }
}
