* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  background-color: black;
}

/* Lado esquerdo (45% da tela com fundo verde) */
.div-logo {
  width: 45%;
  background-color: #535ee0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #535ee0;
  font-size: 26px;
  margin-bottom: 42px;
  align-self: self-start;
}

img {
  width: 320px;
}

.login-form {
  width: 55%;
  padding: 30px;
  color: white;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

/* Estilo dos inputs */
.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  height: 46px;
  border-radius: 9px;
  background-color: #f4f4f4; /* Cor de fundo clara */
  color: #333; /* Cor do texto escura */
}

.form-group input:focus {
  outline: none;
  border-color: #5f9ea0;
  box-shadow: none;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  background-color: #535ee0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

button:last-child {
  margin-top: 0;
  color: #535ee0;
  background-color: white;
  border: 1px solid #535ee0;
  margin-top: 15px;
}

button:last-child:hover {
  background-color: #535fe0e7 !important;
  color: white;
}

.create-return {
  color: #535ee0;
  font-size: 14px;
  margin-top: 15px;
  text-decoration: none;
  color: white;
}

button:disabled {
  background-color: #a0a0a0;
}

button:hover:not(:disabled) {
  background-color: #535fe0e7;
}

.keep-logged {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.keep-logged input {
  margin-right: 8px;
}

.keep-logged label {
  font-size: 14px;
  color: #353535cb;
}
